
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 296 55% 87%;
    --foreground: 222 84% 4.9%;
    --card: 222 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 150 70% 45%;
    --primary-foreground: 222 84% 4.9%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 28% 65%;
    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 150 70% 45%;
    --radius: 0.5rem;
    --chart-1: 150 70% 45%;
    --chart-2: 150 60% 35%;
    --chart-3: 150 50% 25%;
    --chart-4: 150 40% 15%;
    --chart-5: 150 30% 5%;
  }

  .dark {
    --background: 222 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 150 70% 45%;
    --primary-foreground: 222 84% 4.9%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 28% 65%;
    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 150 70% 45%;
    --chart-1: 150 70% 45%;
    --chart-2: 150 60% 35%;
    --chart-3: 150 50% 25%;
    --chart-4: 150 40% 15%;
    --chart-5: 150 30% 5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
