
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 50% 98%;
    --foreground: 240 10% 3.9%;
    --card: 250 50% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 250 50% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 250 65% 55%;
    --primary-foreground: 250 85% 98%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 10% 20%;
    --muted: 240 5% 96.1%;
    --muted-foreground: 240 4% 46.1%;
    --accent: 240 5% 92%;
    --accent-foreground: 240 10% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 91.4%;
    --input: 240 5% 91.4%;
    --ring: 250 65% 55%;
    --radius: 0.5rem;
    --chart-1: 250 70% 60%;
    --chart-2: 250 60% 70%;
    --chart-3: 250 50% 80%;
    --chart-4: 250 40% 90%;
    --chart-5: 250 30% 95%;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 60 9.1% 97.8%;
    --card: 240 5% 12%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 240 10% 10%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 250 65% 65%;
    --primary-foreground: 250 85% 98%;
    --secondary: 240 5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 240 5% 15.1%;
    --muted-foreground: 240 4% 63.9%;
    --accent: 240 5% 18%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 240 5% 15.1%;
    --input: 240 5% 15.1%;
    --ring: 250 65% 65%;
    --chart-1: 250 70% 60%;
    --chart-2: 250 60% 70%;
    --chart-3: 250 50% 80%;
    --chart-4: 250 40% 90%;
    --chart-5: 250 30% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
